<head> </head>
<body>
  <div class="top-bar">
    <div class="logo-argentinaprograma">
        <img src="../assets/images/argentinaprograma.png" height="50px" alt="#" />
        Argentina Programa
    </div>
    <nav class="nav">
        <a href="https://twitter.com/seriaaterriblee" class="nav-link bi-twitter"> Twitter</a>
        <a href="#" class="nav-link bi-github"> Github</a>
        <a href="#" class="nav-link bi-pencil-fill"> Login</a>
    </nav>
</div>

<!-- Hero -->
<div class="hero">
      <img src="../assets/images/banner-unspash.jpeg" alt="" class="hero-image" />

</div>

  <div class="container">
       <div class="row">
      <div class="col-4"><div class="thumbnail">
        <img src="../assets/images/mechportfolio.jpg"  id="rcorners3" width=100% alt="" />
        <i class="bi bi-pencil-square hicon"></i>
    </div></div>
      <div class="col-8"><app-about></app-about></div>
    </div>
  </div>
</body>
