<article>
    <h2>Experiencia <i class="bi bi-plus-circle"></i></h2>
    <div class="card-container">
        <div class="card">
            <div class="card-logo">
                <img src="../assets/images/Logo HCJS.png" alt="HCJS" />
                <div class="edit-control">
                    <i class="bi bi-pencil-square"></i>
                    <i class="bi bi-trash3"></i>
                </div>
            </div>
            <div class="card-main">
                <h3 class="card-title">Trainee de Programación Front y Backend</h3>
                <p class="card-paragraph">Hospital de Clínicas José de San Martín</p>
                <p class="card-paragraph">Buenos Aires 2022 - Actualmente</p>
            </div>
        </div>
        <div class="card">
            <div class="card-logo">
                <img src="../assets/images/CEMUPRO LOGO MAIL.png" alt="Logo Xanadú" />
                <div class="edit-control">
                    <i class="bi bi-pencil-square"></i>
                    <i class="bi bi-trash3"></i>
                </div>
            </div>
            <div class="card-main">
                <h3 class="card-title">Administración y Comunicación</h3>
                <p class="card-paragraph">Centro de Estudios Municipales y Provinciales CEMUPRO</p>
                <p class="card-paragraph">Buenos Aires 2018 - 2021</p>
            </div>
        </div>
        <div class="card">
            <div class="card-logo">
                <img src="../assets/images/logoplaceholder.png" alt="Logo placeholder" />
                <div class="edit-control">
                    <i class="bi bi-pencil-square"></i>
                    <i class="bi bi-trash3"></i>
                </div>
            </div>
            <div class="card-main">
                <h3 class="card-title">Comunicación digital y estrategia</h3>
                <p class="card-paragraph">Partido Socialista</p>
                <p class="card-paragraph">Buenos Aires - Rosario - 2022 Actualmente</p>
            </div>
        </div>
        <div class="card">
        </div>
    </div>
</article>